/BaixadorOnline/build/
/BaixadorOnline/nbproject/private/
/Primeiro/nbproject/private/
/Primeiro/build/
/Ex02Produto/nbproject/private/
/Ex02Produto/build/
/EX03Media/nbproject/private/
/EX03Media/build/
/EX04Deferenca/nbproject/private/
/EX05cONSUMO/nbproject/private/
/EX05cONSUMO/build/
/EX06Distancia/nbproject/private/
/EX06Distancia/build/
/EX07Distanciapercorrida/nbproject/private/
/EX07Distanciapercorrida/build/
/EX07cOMSUMO/nbproject/private/
/EX07cOMSUMO/build/
/ex08ConverterTempo/nbproject/private/
/ex08ConverterTempo/build/
/EX09Lanche/nbproject/private/
/EX09Lanche/build/
/Ex10Pares/nbproject/private/
/Ex10Pares/build/
/EX11Positivos/nbproject/private/
/EX11Positivos/build/
/Ex12Pareslidas/nbproject/private/
/Ex12Pareslidas/build/
/Ex13ParesImparesNegativoPositivos/nbproject/private/
/Ex13ParesImparesNegativoPositivos/build/
/EX14SeisImpares/nbproject/private/
/EX14SeisImpares/build/
/EX015QuadadroDeNPare/nbproject/private/
/EX015QuadadroDeNPare/build/
/EX16Tabuada/nbproject/private/
/EX16Tabuada/build/
/Ex17MediaPonderada/nbproject/private/
/EX18SequenciaIJ/nbproject/private/
/EX18SequenciaIJ/build/
/EX19SequencicaUI2/nbproject/private/
/EX19SequencicaUI2/build/
/EX20Sequeiciaij3/nbproject/private/
/EX20Sequeiciaij3/build/
/Ex21SamaDeimpares/nbproject/private/
/Ex21SamaDeimpares/build/
/EX22CrecenteDecrecente/nbproject/private/
/Ex23SenhaFixa/nbproject/private/
/Ex24Interjalode02/nbproject/private/
/JavaApplication29/nbproject/private/
/JavaApplication29/build/
